*{
  margin: auto;
  padding: 0;
}
html{
  scroll-behavior:smooth;
  transition: 1.2s scroll ease;
}
/* Add transition effect to the body */
body {
  opacity: 1;
  transition: opacity 0.6s ease-in-out;
  padding-top: 130px;
}

/* Apply fade-out effect */
body.fade-out {
  opacity: 0;
}

.container_{
  padding-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  margin-top: 2%;
  margin: auto;
  width: 80%;
  min-height: 300px;
  
}

/*NAV*/

.no-bootstrap-styles .naV {
font-family: "Montserrat", sans-serif;
display: flex;
justify-content: space-between;
align-items: center;
padding-top: 10px;
padding-bottom: 10px;
left: 20px;
right: 5px;
background-color: white;
position: fixed;
top: 0;
width: 100%;
z-index: 99;
transition: all 0.3s ease;
}
#logo_{
display: none;
}
.no-bootstrap-styles .top-section {
display: flex;
align-items: center;
gap: 25px;
}

.no-bootstrap-styles .icons_ {
display: flex;
align-items: center;
gap: 15px;
}
#git{
width: 25px;
height: 25px;
}
.no-bootstrap-styles .icons_ img {
width: 20px;
height: 20px;
}

.no-bootstrap-styles .buttonsL {
display: flex;
align-items: center;
justify-content: center;
justify-content: space-between;
width: 100%;

}

.no-bootstrap-styles .logo_ {
display: flex;
justify-content: center;
align-items: center;
}

.no-bootstrap-styles .logo_ img {
height: 100px;
vertical-align: middle;
}

.no-bootstrap-styles .nav-links {
display: flex;
align-items: center;
justify-content: space-between;
width: 30%;


}

.no-bootstrap-styles .buttonsL a {
text-decoration: none;
color: black;
font-size: 24px;
transition: all 0.3s ease;
}

.no-bootstrap-styles .orderOnline_ {
background-color: #1E4563;
color: white;
padding: 8px 15px;
border-radius: 6px;
margin: auto 40px auto 0;
max-width: fit-content;

}

.no-bootstrap-styles .orderOnline_ a {
color: white;
}

/* Hamburger Menu Styles */
.hamburger {
display: none;
flex-direction: column;
cursor: pointer;
z-index: 100;
padding: 5px;
}
.hamburger.active{
min-width: max-content;
padding: 5px;
}
.hamburger div {
width: 25px;
height: 3px;
background-color: black;
margin: 4px 0;
transition: 0.4s;
}
.orderH:hover{
  background-color:white ;
  color: black;
}
.logo_:hover{
  transform: scale(1.1);
  filter: brightness(1.1);
  cursor: pointer;
  transition: transform 0.6s ease; 
}
.aHover:hover{
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 6px;
  border-radius: 5px;
}
.buttonsL a:hover{
  transition: transform 0.6s ease;
  color: white;
  transition: background-color 0.6s ease, color 0.3s ease;
}
#contact{
  background-color: #000000;
  color: white;
  transform: scale(1.1);
  padding: 6px;
  border-radius: 5px;
}
.buttonsL a:active{
  background-color: #1f73b2;
}
.confbtn:hover, .conf-btn:hover, .checkout-button:hover, .orderOnline_:hover{
  background-color: #1f73b2;
  transition: background-color 0.6s ease, color 0.3s ease;
}
/* .contact-section::before {
   content: "";
  position: absolute;
  top: 200px;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background-image: url('./images/arc1.svg');
  background-size: cover;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.4; /* Adjust opacity as needed 
  z-index: -1; 

  
}*/
.contact-section {
  background: none;
 
  padding: 50px 0;
}
.hpar{
  text-align: center;
  color: rgb(115, 110, 110);
  font-size: 18px;
  font-weight: 500;
}
.hcontact{
  color: rgb(0, 0, 0);
  text-align: center;
  font-weight: 800;
  font-size: 50px;
}
.contact-container {
  max-width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 15px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}

.get-in-touch {
  
  justify-content: space-around;
  flex-basis: 50%;

  color: #fff;
  padding: 60px 20px 20px;
  border-radius: 7px;
}
.head1_{
  padding-bottom: 30px;
} 



.get {
 
  background-color: #20364d;
  border-radius: 7px;
  position: relative; 
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 

}

.get::before,
.get::after {
  opacity: 0.6;
  content: "";
  position: absolute;
  border-radius: 50%; 

  z-index: 0; 
  right: -20px;
}


.get::before {
  width: 100px;
  height: 100px;
  background-color: rgb(79, 74, 74);
  right: -20px; 
  bottom: -60px;
  overflow: hidden;
  
}


.get::after {
  width: 80px;
  height: 80px;
  background-color: black;
  right: -25px; 
  bottom: -30px;
}

.phone_, .mail, .address_{
  width: 100%;
  display: flex;
  padding-top: 20px;
  text-align: left;
  flex-grow: 1;
}
.phone_ p, .mail p, .address_ p {
  flex-grow: 1;
  padding-top: 7px;
  padding-left: 15px;
}
.address_ p {
  min-width: max-content;}

.phone_ img, .mail img{
  max-width: min-content;
}
.get-in-touch h2 {
  margin-top: 0;
}

.contact-info a,
.contact-info p {
  color: #fff;
  text-decoration: none;
  margin-bottom: 10px;
}
input{
  border: 0px none;
}
.contact-form {
  
  flex-basis: 45%;
}
.names{
  margin-top: 40px;
}
.names , .mn{
  display: flex;
  
  
}
.form-group {
  border: none;
  padding-left: 2%;
  margin-bottom: 18px;
  width: 50%;
}
.form-groupt {
  border: none;
  padding-left: 2%;
  margin-bottom: 18px;
  width: 100%;
}
.form-group label ,.form-groupt label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input,
.form-groupt textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1.5px solid #dfd6d6;
;
  font-size: 16px;
}
::placeholder{
  align-content: baseline;
} 

.btn_ {
  min-width: max-content;
  background-color: #214867;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  margin: 1% 0% 5% 72%;
}
.btn_:hover{
  background-color: #1f73b2;
}
.social-links {
  text-align: center;
  display: flex;
  max-width: 90%;
  padding-top:33%;
}
.social-links img{
  width: 40px;
  height: 40px;
  padding: 4px 4px 4px;
}

.social-links a {
  font-size: 20px;
  color: #fff;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #ccc;
}

/*FOOTER*/

.no-bootstrap-styles .footer_{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 10px;
    margin: auto;
    background-color:  #214867;
}
.no-bootstrap-styles .footer_ p , .footer_ h1 {
    text-align: center;
    color: white;
}
.no-bootstrap-styles .hr{

    width: 80%;
    background-color: #000000;
    margin: auto;
    height: 6px;
    border-radius: 1.5rem;
}
.no-bootstrap-styles .footer_ .h1 ,.no-bootstrap-styles .hours h1 {
    margin: auto;
    padding-top: 1%;

}
.h1:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.no-bootstrap-styles .times{
    padding-top: 1%;

}
.no-bootstrap-styles .address_{
    display: flex;
    max-width: fit-content;
}
.no-bootstrap-styles .address_ p{
    font-family: "Montserrat", serif;
    font-size: 23px;
    font-weight: 300;
    padding: 0px 10px 0px; 
    vertical-align: middle;
    margin-bottom: 0px;
}
.no-bootstrap-styles .address_ svg{
    max-height: min-content;
}
.no-bootstrap-styles .times p , .no-bootstrap-styles .hours p {
    font-family: "Montserrat", serif;
    font-size: 23px;
    font-weight: 100;
    padding: 10px;
}
.no-bootstrap-styles .icons_1{
  display: flex;
  text-align: center;
  width: fit-content;
  margin: 15px auto 15px auto;

}
.no-bootstrap-styles .icons_1 img{
  width: 35px;
  height: 35px;
  padding: 3px 6px 3px;

}
.copyright{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 10px;
}
.footer_ a:hover{
  text-decoration: none;
}

/*Drop DOwn Nav*/
@media screen and (max-width: 900px) {


  .no-bootstrap-styles .naV {
      flex-direction: column;
      align-items: flex-start;
      padding: 10px;
  }

  .no-bootstrap-styles .top-section {
      width: 100%;
      justify-content: space-between;
      align-items: center;
      padding-top: 10px;
      padding-bottom: 24px;
  }
  #logo_{
    display: block;
  }
  #logo_2{
    display: none;
    text-align: center;
  }
  .no-bootstrap-styles .buttonsL {
      display: none;
      flex-direction: column;
      width: 100%;
      align-items: center;
      gap: 17px;
  }

  .no-bootstrap-styles .nav-links {
      flex-direction: column;
      width: 100%;
      align-items: center;
      gap: 17px;
  }

  .no-bootstrap-styles .buttonsL.active {
     padding-top: 45px;
      display: flex;
  }

  .no-bootstrap-styles .logo_ {
      align-self: center;
      margin: 0 auto;
  }

  .no-bootstrap-styles .buttonsL a {
      padding: 10px;
      width: 100%;
      text-align: center;
  }
  .logo_:hover{
    transform: scale(1.1);
    filter: brightness(1.1);
    cursor: pointer;
    transition: transform 0.6s ease; 
  }
  .hamburger {
      display: flex;
      position: relative;
      width: 50px;
  }

  .hamburger.active .bar1 {
      transform: rotate(-45deg) translate(-5px, 6px);
  }

  .hamburger.active .bar2 {
      opacity: 0;
  }

  .hamburger.active .bar3 {
      transform: rotate(45deg) translate(-5px, -6px);
  }
  #logo_{
    display: block;
    max-height: 50px;
    margin-top: -40px;
    z-index: -1;
  }
}
/*Ipad*/
@media only screen and (max-width: 899px) and (min-width: 550px){
    body{
      padding-top: 120px;
    }
    .contact-container {
      flex-direction: column-reverse;
    
    }
    .get-in-touch,
    .contact-form {
      margin: auto;
      flex-basis: auto;
      width: 100%;
      
    }
    .contact-form{
      margin-left: -2vw;
    }
    .contact-info p {
      font-size: clamp(12px, 14px, 16px);
    }
    .get-in-touch {

      width: 80vw;
      margin-bottom: 30px;
      padding-left: 20px;

    }
    /*FOOTER*/
    .no-bootstrap-styles .footer_ h1{
      font-size: 25px;
    }
    .no-bootstrap-styles .footer_{
        padding-top: 8px;
  
    }
  
    .no-bootstrap-styles .hr{
        height: 4px;
        border-radius: 1rem;
    }
  
  
    .no-bootstrap-styles .address_ p{
        font-family: "Montserrat", serif;
        font-size: 17px;
        font-weight: 200;
        padding: 0px 8px 0px; 
        vertical-align: middle;
        margin-bottom: 0px;
    }
  
    .no-bootstrap-styles .times p , .no-bootstrap-styles .hours p {
        font-size: 17px;
        padding: 8px;
    }
  
    .copyright{
      font-size: 11px;
      font-weight: 200;
        padding-bottom: 6px;
    }
    .no-bootstrap-styles .icons_{
  
      margin: 12px auto 12px auto;
  
    }
    .no-bootstrap-styles .icons_ img{
      width: 30px;
      height: 30px;
      padding: 3px 6px 3px;
  
    }
  
}
/* This is Phone */
@media only screen and (max-width: 549px) and (min-width: 350px){
  .contact-container {
    flex-direction: column-reverse;
  
  }
  .get-in-touch,
  .contact-form {
    margin: auto;
    flex-basis: auto;
    width: 100%;
    
  }
  .contact-form{
    margin-left: -2vw;
  }
  .contact-info p {
    font-size: clamp(10px, 12px, 14px);
  }
  .get-in-touch {

    width: 80vw;
    margin-bottom: 30px;
    padding-left: 20px;

  }
        /*FOOTER*/
        .no-bootstrap-styles .footer_ h1{
          font-size: clamp(10px, 20px, 25px);
        }
        .no-bootstrap-styles .footer_{
            padding-top: 8px;
    
        }
    
        .no-bootstrap-styles .hr{
            height: 4px;
            border-radius: 1rem;
        }
    
    
        .no-bootstrap-styles .address_ p{
            font-family: "Montserrat", serif;
            font-size: clamp(8px, 11px, 15px);
            font-weight: 300;
            padding: 0px 8px 0px; 
            vertical-align: middle;
            margin-bottom: 0px;
        }
        .addressLogo{
          width: 20px;
          height: 20px;
          top:0;
        }
        .no-bootstrap-styles .times p  {
          font-size: clamp(8px, 12px, 15px);
            padding: 5px;
            
        }
    
        .copyright{
          font-size: clamp(6px, 8.5px, 12px);
          font-weight: 200;
            padding-bottom: 6px;
        }
        .no-bootstrap-styles .icons_1{
    
          margin: 8px auto 8px auto;
    
        }
        .no-bootstrap-styles .icons_1 img{
          width: 20px;
          height: 20px;
          padding: 2px 4px 2px;
    
        }
}
/* This is Smaller pc */
@media only screen and (max-width: 1120px) and (min-width: 900px){
.contact-container{
  flex-direction: column-reverse;}

  .no-bootstrap-styles .buttonsL .orderOnline_ a{
    font-size: clamp(8px, 2.5vw , 17px);
  }
  .no-bootstrap-styles .buttonsL .nav-links a{
    font-size: clamp(8px, 2.5vw , 17px);
  }
}

/* This is Extra Big PC */
@media screen and(min-width: 3000px) {
  
}